<!-- Footer -->
            <div class="row footer">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-3">
                      <h4>Recent Posts</h4>
                        <ul>
                        {% for post in site.posts limit:4 %}
                          <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                      <h4>Links</h4>
                        <ul>
                          <li><a href="https://kde.org">KDE.org</a></li>
                        </ul>
                      </div>
                  </div>
              </div>
              <div class="col-md-1"></div>
            </div>
          <!-- End Footer -->
