---
permalink: /development/
layout: none
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="refresh" content="0; url={{ '/contributing/' | prepend: site.baseurl }}" />
</head>

<body>
    <p>This page has moved, you should be automatically redirected. If not, please click <a href="{{ '/contributing/' | prepend: site.baseurl }}">here</a>.</p>
</body>

</html>
